/* CSS RESET */
*, *::before *::after{
    box-sizing:border-box;
}

* {
    margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
}

input, textarea, select {
    font: inherit;
}

/* STYLE START */
:root {
    --background: rgb(245, 245, 245);
    --foreground: rgb(54, 54, 54);
    --accent-one: #cc5f4f;
    --accent-one-light: #e47564;
    --accent-two: #383346;
    --accent-two-light: #4e485e;
}

/* IDs */

/* CLASSES */

/* ANIMATION */

/* MOBILE SUPPORT */

@media only screen and (max-width:500px) {

    /* IDs */

    /* CLASSES */

    /* ANIMATION */

}