/* CSS RESET */
*, *::before *::after{
    box-sizing:border-box;
}

* {
    margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

input, textarea, select {
    font: inherit;
}

/* STYLE START */
:root {
    --background: rgb(245, 245, 245);
    --foreground: rgb(54, 54, 54);
    --accent-one: #cc5f4f;
    --accent-one-light: #e47564;
    --accent-two: #383346;
    --accent-two-light: #4e485e;
}

/* IDs */
#menu{
    position: fixed;
    height: 100%;
    width: 190px;
    max-width: 190px;
    background-color: var(--accent-two);
    color: white;
    padding: 20px;
}
#logo{
    display: flex;
    font-family: 'Redressed', sans-serif;
    font-size: 36px;
    align-items: center;
    gap: 10px;
    user-select: none;
}
#logo > img{
    height: 48px;
}
#dashboard{
    height: 100%;
    width: calc(100% - 230px);
    margin-left: 230px;
    position: fixed;
    overflow: auto;
}
#header{
    max-width: 100%;
    height: 50px;
    background-color: var(--accent-one-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-weight: bold;
}
#headerLeft{
    display: flex;
    gap: 10px;
    min-width: 300px;
}
#userCard{
    font-size: 26px;
    margin-top: 3px;
}
#userCard p:first-child{
    font-size: 16px;
}
#searchbar{
    margin-top: 16px;
    display: flex;
    gap: 10px;
}
#searchbar img{
    cursor: pointer;
}
#searchInput{
    border: none;
    padding-left: 10px;
    border-radius: 20px;
    font-weight: normal;
}
#content{
    background-color: var(--background);
    min-height: calc(100% - 90px);
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
}
#contentTasks{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#contentTasks > p{
    font-weight: bold;
}
#taskCards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
#contentRight{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}
#contentRight p:first-child{
    font-weight: bold;
}
#contentTickets{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#ticketCards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* CLASSES */
.menuDivider{
    height: 50px;
}
.menuItem{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}
.menuItem:hover > img{
    border-left: 5px solid rgba(255, 255, 255, 0.5);
    padding: 2px;
}
.menuItem:active > img{
    border-color: white;
}
.avatar{
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.taskCard{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 11px 1fr;
}
.ticketCard{
    background-color: white;
    height: 60px;
    width: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 11px 1fr;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}
.ticketContent{
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 269px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ticketBody{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.taskPriority, .ticketPriority{
    height: 100%;
    width: 11px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.taskCardContent{
    padding: 20px;
    display: grid;
    grid-template-rows: 24px 1fr 24px;
}
.taskTitle{
    font-weight: bold;
}
.taskcardButtons{
    display: flex;
    width: 100%;
    height: 24px;
    flex-direction: row-reverse;
    gap: 20px;
}
.high{
    background-color: rgb(219, 31, 31);
}
.medium{
    background-color: rgb(250, 250, 87);
}
.low{
    background-color: greenyellow;
}
.dark{
    filter: brightness(0%);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.dark:hover{
    filter: brightness(25%);
}
.dark:active{
    scale: 1.3;
}
/* ANIMATION */

/* MOBILE SUPPORT */

@media only screen and (max-width:500px) {

    /* IDs */

    /* CLASSES */

    /* ANIMATION */

}